.bg-gris {
  background: rgb(63, 67, 78);
}

.text-grisClaro {
    color: rgb(174, 174, 179);
}

.text-greenLight {
  color: rgb(9, 192, 70);
}

  
#imagenPrincipal {
    position: relative;
         
  } 
  
#bottonright {
    position: absolute;
    bottom: 400px;
    right: 150px;
    width: 500px;
    height: 100px;
    text-align: end;
    
  }

.subrayado {
  text-decoration: underline;
}

#buttongreenA {
  background-color: rgb(37, 175, 37);
}


#buttongreenB1 {
  background-color: rgb(92, 187, 48);
}

#buttongreenB2 {
  background-color: rgb(92, 187, 48);
}


#boxform {
  width: 750px;
  height: 350px;
    
}

#boxform2 {
  width: 750px;
  height: 180px;
    
}

#grad {
  background-image:linear-gradient(20deg, rgb(34, 50, 65), rgba(46, 90, 131, 0.986));

}

